# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# lnd libs
/ios/liblnd.a
/ios/example.xcworkspace
/android/app/src/main/jniLibs/x86/
/android/app/src/main/jniLibs/x86_64/
/android/app/src/main/jniLibs/arm64-v8a/
/android/app/src/main/jniLibs/armeabi-v7a/
